@*@using EntityLayer.Concrete
@model List<Announcement>*@

<div class="blog" id="blog">
	<div class="container">
		<h3 class="tittle">Son Duyurular</h3>
		<p class="heading-btm-w3ls">Çiftliklerimizden ve tarlalarımızdan son haberler aşağıdadır</p>
		<div class="blog-grid-w3-agileits">
			<div class=" col-md-7 blog-img1-agileits-w3layouts">
				<a href="#" data-toggle="modal" data-target="#myModal2"></a>
			</div>
			<div class=" col-md-5 blog-info-w3layouts">
				<h6> <a href="#" data-toggle="modal" data-target="#myModal2">Buğday Yetiştirme Süreci</a></h6>
				<div class="inner-info">
					<a href="#" class="blog-text-w3ls bar">Yayınlanma tarihi :</a><span>16/11/2022</span>
					<p class="para-w3-agileits">2022 yılının ekilmiş buğday tarlamızdaki yetiştirme süreci ve kullandığımız teknolojiler hakkında..</p>
				</div>
				<a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal2">Daha Fazla</a>

			</div>
			<div class="clearfix"></div>
		</div>
		<div class="blog-grid-w3-agileits">
			<div class=" col-md-5 blog-info-w3layouts blog-mid">
				<h6><a href="#" data-toggle="modal" data-target="#myModal3">Saman Balyası Yapım Süreci</a></h6>
				<div class="inner-info-mid">
					<a href="#" class="blog-text-w3ls mid-bar">Yayınlanma tarihi :</a><span>12/05/2023</span>
					<p class="para-w3-agileits">Buğday hasadının ardından yapılan balyalama süreci ve yapılışı  hakkında..</p>
				</div>
				<a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal3">Daha Fazla</a>

			</div>
			<div class=" col-md-7 blog-img2-agileits-w3layouts">
				<a href="#" data-toggle="modal" data-target="#myModal3"></a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="blog-grid-w3-agileits">
			<div class=" col-md-7 blog-img3-agileits-w3layouts">
				<a href="#" data-toggle="modal" data-target="#myModal4"></a>
			</div>
			<div class=" col-md-5 blog-info-w3layouts">
				<h6><a href="#" data-toggle="modal" data-target="#myModal4"> Çay Yetiştiriciliği Süreci</a></h6>
				<div class="inner-info">
					<a href="#" class="blog-text-w3ls bar">Yayınlanma Tarihi :</a><span>06/8/2023</span>
					<p class="para-w3-agileits">Çay yetiştirme ve toplama süreci hakkında..</p>
				</div>
				<a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal4">Daha Fazla</a>

			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>In Harvest</h4>
				<img src="~/web/images/b1.jpg" alt=" " class="img-responsive">
				<h5>Buğday Yetiştirme Süreci</h5>
				<p>İlk aşamada, toprak analizi yaparak uygun tohumları seçiyoruz ve toprak hazırlığını tamamlıyoruz. Ardından tohumları ekerek ekim işlemimizi gerçekleştiriyoruz. Bitkiler büyüdükçe sulama, gübreleme ve hastalık kontrolü gibi bakım adımlarını ekibimizle birlikte düzenli olarak uyguluyoruz. Son aşamada, buğday bitkileri olgunlaştığında hep birlikte hasat ediyoruz ve buğday tanelerini topluyoruz. Tüm bu aşamaları bir araya getirerek, verimli bir ürün elde etmek için koordineli bir şekilde çalışıyoruz.</p>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>In Harvest</h4>
				<img src="~/web/images/b2.jpg" alt=" " class="img-responsive">
				<h5>Saman Balyası Yapım Süreci</h5>
				<p>Tarla ekibi olarak saman balyası üretimine başladığımızda, öncelikle hasat zamanını belirlemek için tarlamızı gözden geçiriyoruz. Hasat edilen samanları toplarken her bir ekibimiz üyesi belirli bir alanda çalışıyor. Kuruyan samanları topladıktan sonra balya makinesini devreye alıyor ve samanları sıkıştırarak balyalar haline getiriyoruz. Balyaları plastik veya ağ örgülerle sararak dayanıklılığını artırıyoruz. Son olarak, balyaları topluyor ve depolama alanına yerleştirerek kış ayları için hayvanlarımıza yem sağlıyoruz. Bu süreçte ekibimiz koordinasyon ve işbirliği içinde çalışarak saman balyası üretimini tamamlıyor.</p>
			</div>
		</div>
	</div>
</div>
<!-- //Modal3 -->
<!-- Modal4 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>In Harvest</h4>
				<img src="~/web/images/b3.jpg" alt=" " class="img-responsive">
				<h5>Çay Yetiştiriciliği Süreci</h5>
				<p>Çay yetiştiriciliği sürecinde ekibimiz işbirliği içinde, verimli bir üretim döngüsü oluşturuyor. İlk adımda, en uygun toprak seçimini birlikte yapıyor ve seçilen alana çay fidanlarını dikkatle dikimini gerçekleştiriyoruz. Fidanlar ekildikten sonra düzenli olarak bir araya gelip sulama, gübreleme, budama gibi önemli bakım aşamalarını takip ediyoruz. Çay bitkileri büyüdükçe, yapraklarının kalitesini artırmak için ekibimizle birlikte özenle çalışıyoruz. Hasat dönemi geldiğinde hep birlikte topladığımız yaprakları titizlikle işleyerek çay üretimini tamamlıyoruz. Bu süreçte ekip içi koordinasyon ve dayanışma, kaliteli çay üretiminin temelini oluşturuyor.</p>
			</div>
		</div>
	</div>
</div>